.App {
  min-height: 100vh;
}
.h1{
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 20px;
}
.h3{
  font-size: 18px;
}
.blue{
  color:#282c34;
}
.test {
  background-color: red;
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:#0c0429;
  padding: 10px;
  color:#fff;
}
.menu a{
  color:#fff;
  padding: 0 10px;
  text-decoration: none;
  font-weight: 600;
}
.menu button{
  background:transparent !important;
  border: none;
  color:#fff;
  font-size: 16px;
  padding: 0;
  box-shadow:none;
  font-weight: 400;
  text-transform: none;
}

.main{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width:1200px;
  margin: 0 auto;
  padding: 40px;
}

.row{
  flex-direction: row;
}
.left{
  width: 30%;
  color:#fff;
  text-align: left;
  margin-right: 20px;
}
.sidebar_nav{
  padding:40px;
  border:1px solid #282c34;
  margin-bottom:20px;
}
.department_sidebar{
  background-color: #282c34;
}

.right{
  background-color: #fff;
  min-width: 70%;
  text-align: left;
}
.post {
  background: #fff;
  border-left: 3px solid #282c34;
  margin-bottom: 20px;
  padding:40px;
  text-align: left;
}
.post-btm-details{
  font-size: 12px;
}

.edit-button{
  font-size: 12px;
}
.edit-button a{
  color:#fff;
}
.title{
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 20px;
}
.details{
  font-size: 16px;
}
.categories{
  display: flex;
  flex-direction: row;
  font-style: italic;
}
.create-new-form{
  display: flex;
  flex-direction: column;
}
.create-new-form > div{
  margin-top: 20px !important;
}
.create-new-form .MuiFormControl-root {
  width: 100%;
  margin: 0;
}

.category-list{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}
.category-list li{
  color:#282c34;
  padding:20px 10px;
  border-bottom: 1px solid #282c34;
  margin-bottom: 10px;
}
.category-list li a{
  text-decoration: none;
}

.hero{
  min-height:50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background: #fff;
}
.form-bg {
  background: linear-gradient(180deg, rgba(12,4,41,1) 0%, rgba(40,31,77,1) 100%);
  padding: 60px;
  width: 60%;
  margin: 0 auto;
  border-radius: 25px;
}
.form-bg button {
  background: #fff !important;
  color: #0c0429;
  margin-top: 20px;
}
.lt-purple{color:#786f99;}
.white{color:#fff;}
input {
  background: #fff !important;    border-radius: 5px;
}
.Mui-focused{color: grey !important;}
.button{padding:15px 25px;border-radius: 25px;font-weight: 600;text-decoration: none;}
.button.white{background-color: #fff !important;color:#0c0429;}
.button.purple{background-color: #5459d6 !important;color:#fff;}
.button.transparent{background-color: transparent !important;color:#fff;border:1px solid #fff;}

.purple-bg{background-color: #0c0429;}
.purple-bg-light{background-color: #5459d6;}
.purple-bg-gradient{background: linear-gradient(100deg, rgba(31,23,66,1) 0%, rgba(10,4,40,1) 100%);    padding: 50px 0;border-radius: 25px;}

h1{font-size: 5em;margin:20px 0;}
h2{font-size: 4em;margin:20px 0;}

.nav{background-color:#0c0429;}

.nav{display: flex;justify-content: space-between;align-items: center;flex-direction: row;}
.nav ul{padding-left: 0;}
.nav ul a{color:#fff;text-decoration: none;padding:0 20px; text-align: center;}
.nav .nav-button{margin-right: 20px;}

.hero{height:100vh;}
.hero-inner{background-color: red;height:90vh;border-bottom-left-radius: 25px;border-bottom-right-radius: 25px;background: linear-gradient(180deg, rgba(12,4,41,1) 0%, rgba(40,31,77,1) 100%);}

.hero-content{width:960px;margin: 0 auto;display: flex;flex-direction: row;align-items: center;height:100%;justify-content: center;}
.hero-content .col-50{width:50%;text-align: left;}
.hero-buttons{margin-top:50px;}
.hero-buttons .button{margin-right:20px;}

ul.steps{display: flex;justify-content: center;align-items: center;flex-direction: row;padding-left: 0;}
.step-icon{background: linear-gradient(132deg, rgba(31,23,66,1) 0%, rgba(10,4,40,1) 100%);height:100px;width: 100px;border-radius: 25px;margin: 0 auto;}
.step-inner{background: linear-gradient(132deg, rgba(31,23,66,1) 0%, rgba(10,4,40,1) 100%);height:90%;width: 90%;border-radius: 25px;margin: 0 auto;padding:20px;text-align: left;}
.step-icon img{margin: 0 auto;}

.home-services-inner{padding:50px 0;border-radius: 25px;}
.btm-footer{border-top:1px solid #786f99;}


details{border-top: 1px solid #fff;}
details:first-child{border-top:0;}
#password{border: none !important;}
.login_img_section {
  background: linear-gradient(rgba(2,2,2,.7),rgba(0,0,0,.7)),url(https://images.unsplash.com/photo-1650825556125-060e52d40bd0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) center center;
}